.App {
  font-family: sans-serif;
  text-align: center;
}

.login{
  color: #414141;
  background-color: #ffce49;
  margin: 150px auto;
  width: 50%;
  padding-top: 40px;
  height: 300px ;
  text-align: center;
  border-radius: 50px;
}

.header{  
  background-color: rgb(212, 110, 110);
  padding: 0 0 20px 0;
}
.authed-avatar{
  height: 80px;
  margin: 20px 0 0 0 ;
}

.header h1{
  font-size: 12pt;
  color: rgb(236, 236, 236);
}

.navbar{
 
  background-color: rgb(95, 40, 168);
  padding: 20px 0;
  margin: 0 0 10px 0;
  list-style: none;
}
.navbar li{
  display: inline-block;
  padding: 0 10px;
}
.navbar li a{
  color: #ffffff;
  text-decoration: none;
} 

.poll{
  color: #353535;
 background-color: #ffce49;
 width: 70%;
 margin: 20px auto;
 border-radius: 50px;

}

h2 h1 p {
  text-decoration: none;
}
.poll-avatar{
  height: 100px;
}

.polls-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.error{
  text-align: center;
}
.leaderboard{
  text-align: center;
}

.leaderboard ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.card{
  color: #ffffff;
  margin: 20px auto;
  background-color: #5F28A8;
  width: 50%;
  padding: 30px;
  border-radius: 50px;
}
.card img{
  height: 80px;
}
